<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Gaming Zone"/>
<meta name="keywords" content="Gaming, Zone, Reviews, Gaming Reviews, Xbox, Playstation, Nintendo, Switch, PC"/>
<meta name="author" content="Connor Duthie"/>
<link rel="icon" type="image/svg" href="img/thumbnail.svg"/>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	
	$(document).ready(function(){
		'use strict';
			$('.upload').click(function() {
					$('.page_overlay').css('display', 'block');
					$('.overlay').css('display', 'block');
			});

			$('.cross').click(function() {
					$('.page_overlay').css('display', 'none');
					$('.overlay'.css('display', 'none');
			}
	});
	
</script>
<title>Gaming Zone</title>
</head>

<body>

<div id="wrapper">

	<div class="header">

		<a href="/"><img src="../static/img/gaming_zone_logo.svg" alt="logo" class="logo"/></a>

	<nav>

		<ul>

			<li><a href="/xbox" class="xbox">xbox</a></li>
			<li><a href="/playstation" class="playstation">playstation</a></li>
			<li><a href="/nintendo" class="nintendo">nintendo</a></li>
			<li><a href="/pc" class="pc">pc</a></li>

		</ul>

	</nav>

	</div>
	
<div class="page_overlay"></div>

<div class="overlay">
	
<img src="../static/img/cross.svg" alt="Cross" class="cross">
	
<form class="upload" action="" method="POST">
	
	<input type="text" name="titl"/><br>
	
	<textarea name="cont"></textarea><br>
	
	<input type="text" name="desc"/><br>

	<input type="submit" value="submit" /><br>

</form>

</div>

<div class="console_banner">

{% for the_last in the_last %}

<div class="game_individual_image">
	<div class="image the_last"></div>
		<tr>
			<td><p class="table_name">{{the_last["game_title"]}}</p></td>
		</tr>
</div>

{% endfor %}

</div>
		
	<button class="upload">Upload</button>
	
</div>
	
{% for post in the_last_posts %}

<tr>
	<td>{{post["title"]}}</td>
	<td>{{post["content"]}}</td>
	<td>{{post["descriptors"]}}</td>
</tr>


{% endfor %}
	
</body>

</html>
